<!DOCTYPE html>
<html>
<head>
  <title>Ross Kinman</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<div id="container">
		<div id="header">
			<%= link_to 'Home', home_index_path %>
			<p>Gallery</p>
			<% if user_signed_in? %>
				signed in as <%= current_user.email %>
				<%= link_to "Logout", destroy_user_session_path %>
			<% else %>
				<%= link_to( "Login", new_user_session_path )%>
				<%= link_to( "Get account", new_user_registration_path )%>
			<% end %>
			<%= image_tag( "RKLogo.png" ) %>
		</div>
		
		<%= yield %>

	</div>
</body>
</html>
